{% extends "monitor/base.html" %}

{% block style %}
    {{ block.super }}
    <link href="{% static "monitor/info/info.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs pull-left">
        <li><a href="{% url 'monitor:manage' %}">监控列表</a></li>
        <li><span class="monitor-name">{{ monitor.name }}</span></li>
    </ul>
{% endblock %}

{% block main-content %}
    <div class="card mt-4">
        <div class="card-body row">
            <div class="col-9">
                <video class="source-video border" src=""></video>
            </div>
            <div class="col-3">
                <div class="form-title mb-3 rounded-1 d-inline-flex w-100">
                    <div class="ms-2 fs-6 mt-2 mb-2">监控信息</div>
                    <div class="operation-area me-2 ms-auto mt-auto mb-auto d-inline-flex">
                        <a href="javascript:" class="btn-edit-info text-white" title="编辑监控信息">编辑</a>
                    </div>
                </div>
                <form class="update-form">
                    <div class="mb-3">
                        <label for="monitor-name-input" class="form-label ms-2 fs-6">监控名</label>
                        <input type="text" maxlength="20" class="form-control" id="monitor-name-input"
                               placeholder="监控名" value="{{ monitor.name }}" name="name" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="monitor-source-input" class="form-label ms-2">监控源</label>
                        <textarea class="form-control" id="monitor-source-input"
                                  name="source" disabled>{{ monitor.source }}</textarea>
                    </div>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="helmet-detect-checkbox">安全帽检测</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="helmet-detect-checkbox"
                               name="detect" {% if monitor.helmet_detect %}checked{% endif %}>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        let infoUpdateURL = "{% url 'monitor:update' monitor.pk %}"
        let originMonitorName = "{{ monitor.name }}"
        let originMonitorSource = "{{ monitor.source }}"
        let csrfToken = "{{ csrf_token }}"
    </script>
    <script src="{% static 'monitor/info/info.js' %}"></script>
{% endblock %}