{% extends "monitor/base.html" %}

{% block title %}
    <title>监控设备管理</title>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link href="{% static "monitor/manage/manage.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs pull-left">
        <li><span>监控列表</span></li>
    </ul>
{% endblock %}

{% block main-content %}
    <div class="main-content-inner py-3">
        <div class="card">
            <div class="card-body py-3">
                <!-- table options start -->
                <div class="d-flex w-100">
                    <!-- left option area start -->
                    <div class="d-inline-flex">
                        <!-- 批量操作 area start -->
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="option btn btn-outline-primary btn-xs disabled rounded"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="me-1">批量操作</span>
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:" id="open-checked-detect" class="dropdown-item">
                                        <i class="fa fa-toggle-on"></i>
                                        <span class="ms-1">开启安全帽检测</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:" id="close-checked-detect" class="dropdown-item">
                                        <i class="fa fa-toggle-off"></i>
                                        <span class="ms-1">关闭安全帽检测</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:" id="delete-checked"
                                       class="dropdown-item menu-looks-danger d-flex"
                                       data-bs-toggle='modal' data-bs-target='#delete-confirm-modal'>
                                        <div style="width: 16px" class="text-center">
                                            <i class="fa fa-trash"></i>
                                        </div>
                                        <span class="ms-2">删除监控</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- 批量操作 area end -->
                        <div class="ms-2">
                            <button type="button" class="btn btn-primary btn-xs rounded"
                                    data-bs-toggle='modal' data-bs-target='#filter-set-modal'>
                                <span class="me-1">筛选</span>
                                <i class="fa fa-filter"></i>
                                <span class="filter-nums badge text-bg-secondary d-none ms-1">0</span>
                            </button>
                        </div>
                        <!-- order area start -->
                        <div class="my-auto ms-3 me-2">排序:</div>
                        <label class="btn-group btn-group-sm mb-0" role="group">
                            <select class="form-select form-select-sm rounded-start" name="orderCol">
                                <option value="id" selected>ID</option>
                                <option value="name">监控名</option>
                                <option value="create_date">创建日期</option>
                            </select>
                            <button type="button" id="order-change" class="btn btn-xs btn-outline-secondary my-auto">
                                <i class="fa fa-sort-amount-desc"></i>
                            </button>
                        </label>
                        <!-- order area end -->
                    </div>
                    <!-- left option area end -->
                    <!-- right option area start -->
                    <div class="ms-auto d-inline">
                        <button type="button" id="btn-refresh" class="btn btn-primary btn-xs me-1">
                            <span class="ti-reload"></span>
                        </button>
                        <a class="btn btn-outline-primary btn-xs" href="{% url 'monitor:create' %}">
                            添加监控
                        </a>
                    </div>
                    <!-- right option area end -->
                </div>
                <!-- table options end -->
                <!-- table content start -->
                <table class="table mt-2">
                    <thead>
                    <tr class="text-white text-center">
                        <th style="width: 8%" scope="col" class="text-start">
                            <label class="mt-1 mb-0">
                                <input type="checkbox" name="all-check-box">
                                <span class="text-white fw-bold">ID</span>
                            </label>
                        </th>
                        <th style="width: 24%" scope="col">监控名</th>
                        <th style="width: 18%" scope="col">创建日期</th>
                        <th scope="col">监控源</th>
                        <th style="width: 8%" class="text-center" scope="col">安全帽检测</th>
                        <th style="width: 8%" class="text-center" scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody id="monitor-list" class="text-center">
                    <!-- 监控设备表内容 -->
                    </tbody>
                </table>
                <!-- table content end -->
                <!-- pagination start -->
                <div id="pagination" class="mb-3 mt-4 d-flex visually-hidden">
                    <div class="my-auto pull-left ms-2">
                        每页
                        <label class="mx-1 mb-0">
                            <input class="pagination-input form-control form-control-sm"
                                   type="text" name="page-size" value="10">
                        </label>
                        条数据
                    </div>
                    <div class="multi-page d-flex mx-auto">
                        <div class="my-auto">
                            <a href="javascript:" class="page-previous btn btn-xs btn-outline-primary border">
                                上一页
                            </a>
                        </div>
                        <div class="my-auto d-flex page-num-area"></div>
                        <div class="my-auto me-auto ms-1">
                            <a href="javascript:" class="page-next btn btn-xs btn-outline-primary border">
                                下一页
                            </a>
                        </div>
                    </div>
                    <div class="my-auto pull-right page-num-tip-area me-3"></div>
                </div>
                <!-- pagination end -->
            </div>
        </div>
    </div>
    <!-- delete confirm modal start -->
    <div id="delete-confirm-modal" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">
                        <i class="fa fa-exclamation-triangle me-2"></i>
                        <span>请确认您的操作</span>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-sm delete-confirm" data-bs-dismiss="modal">
                        确认删除
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- delete confirm modal end -->
    <!-- filter config area start -->
    <div id="filter-set-modal" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content modal-md">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">
                        <i class="fa fa-filter me-2"></i>
                        <span>设置筛选条件</span>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body filter-list">
                    <div class="row filter-item">
                        <div class="col-2 p-1 d-flex">
                            <span class="my-auto ms-auto">筛选条件:</span>
                        </div>
                        <label class="col-3 p-1 mb-0">
                            <select class='form-select form-select-sm' name="col">
                                <option value='id' selected>ID</option>
                                <option value='name'>监控名</option>
                                <option value='create_date'>创建日期</option>
                                <option value='source'>监控源</option>
                                <option value='detect'>安全帽检测</option>
                            </select>
                        </label>
                        <label class="col-2 p-1 mb-0">
                            <select class='form-select form-select-sm fs-14' name="operation">
                                <option value='=' selected>=</option>
                                <option value='≠'>≠</option>
                                <option value='>'>></option>
                                <option value='<'><</option>
                                <option value='≥'>≥</option>
                                <option value='≤'>≤</option>
                            </select>
                        </label>
                        <label class="col-4 p-1 mb-0">
                            <input type="number" name="value" min="1" class="form-control form-control-sm fs-14">
                        </label>
                        <div class="col-1 p-1">
                            <button type="button" class="remove btn btn-outline-primary btn-xs d-flex h-100 disabled">
                                <span class="ti-trash my-auto"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="filter-add btn btn-outline-primary btn-xs me-2">
                        <span class="ti-plus"></span>
                        <span>添加筛选条件</span>
                    </button>
                    <button type="button" class="clean-filters btn btn-outline-secondary btn-xs me-auto">
                        <span class="ti-brush-alt"></span>
                        <span>清空筛选条件</span>
                    </button>
                    <button type="button" class="dnt-use-filter btn btn-secondary btn-xs" data-bs-dismiss="modal">
                        不使用筛选
                    </button>
                    <button type="button" class="use-filter btn btn-primary btn-xs confirm-filter" data-bs-dismiss="modal">
                        使用筛选
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- filter config area end -->
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        let monitorQueryURL = "{% url 'monitor:query' %}"
        let monitorDeleteURL = "{% url 'monitor:delete' %}"
        let monitorDetectChangeURL = "{% url 'monitor:update-detect' %}"
        let existsSourceTestURL = "{% url 'monitor:source-test' 0 %}"
        let csrfToken = "{{ csrf_token }}"
    </script>
    <script src="{% static "monitor/manage/manage.js" %}"></script>
{% endblock %}