.source-video {
    width: 100%;
    aspect-ratio: 16/9;
}

.form-title {
    background: #0d6efd;
    color: #ffffff;
}

.result-img {
    height: 50px;
    aspect-ratio: 16/9;
}

i.fa-edit {
    cursor: pointer;
}

td {
    vertical-align: middle
}

.result-tip-area {
    width: 100%;
    aspect-ratio: 10/2;
}

#page-num-input{
    width: 60px;
}