.table-header-left {
    float: left;
}

.table-header-right {
    float: right;
}

.clickable {
    cursor: pointer;
}

.menu-looks-danger {
    color: #ea5d6a;
}

.menu-looks-danger:hover {
    color: #d00;
}

.filter-content {
    padding: 5px;
    font-size: 14px;
}

.btn-dropdown {
    width: 80px;
}

.no-filter-text {
    padding-left: 15px;
    font-size: 14px;
}

.filter-item {
    padding-bottom: 1px;
    padding-top: 1px;
    width: 100%;
    margin-left: 0;
}

.fs-14 {
    font-size: 14px;
}

.value-input {
    flex: 1;
}

thead {
    background-color: #1089a3;
}

.card-body {
    padding: 10px 15px 0;
}

.header-title {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .modal-md {
        --bs-modal-width: 700px
    }
}
