{% extends "base-template.html" %}

{% block style %}
    <link rel="stylesheet" href="{% static 'base-home/base-home.css' %}">
{% endblock %}

{% block content %}
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="{% url 'overview' %}" class="fw-bold h5 text-white">安全帽佩戴检测</a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="{% block overview %}{% endblock %}">
                                <a href="{% url 'overview' %}">
                                    <i class="ti-dashboard"></i><span>系统总览</span>
                                </a>
                            </li>
                            <li class="{% block monitor-manage %}{% endblock %}">
                                <a href="{% url 'monitor:manage' %}">
                                    <i class="ti-layout-media-right-alt"></i><span>监控管理</span>
                                </a>
                            </li>
                            <li class="{% block multiview %}{% endblock %}">
                                <a href="{% url 'monitor:multiview' %}">
                                    <i class="ti-layout-grid2"></i><span>实时监控</span>
                                </a>
                            </li>
                            <li class="{% block monitor-replay %}{% endblock %}">
                                <a href="javascript:void(0)">
                                    <i class="ti-control-backward"></i><span>录像回放</span>
                                </a>
                            </li>
                            <li class="{% block detect-list %}{% endblock %}">
                                <a href="{% url 'detect:results' %}">
                                    <i class="fa fa-table"></i><span>识别结果</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="page-content d-flex flex-column min-vh-100">
            <!-- header area start -->
            <div class="header-area collapse show" id="header-collapse">
                <div class="row align-items-center">
                    <div class="col-sm-7">
                        <div class="breadcrumbs-area d-flex">
                            <div class="nav-btn mt-auto mb-auto">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <h4 class="page-title">
                                {% block page-title %}Dashboard{% endblock %}
                            </h4>
                            {% block breadcrumbs %}
                                <ul class="breadcrumbs">
                                    <li><a href="#">Home</a></li>
                                    <li><span>button</span></li>
                                </ul>
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-sm-5 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li class="helps-btn"><i class="ti-agenda"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                <i class="ti-bell dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <div class="dropdown-menu bell-notify-box notify-box">
                                    <!-- TODO: 完善消息框 -->
                                    <span class="notify-title"></span>
                                    <div class="notify-list"></div>
                                </div>
                            </li>
                            <li class="settings-btn"><i class="ti-settings"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            {% block main-content %}{% endblock %}
        </div>
        <!-- main content area end -->
        <!-- warning toast area start -->
        <div class="toast-container show position-fixed bottom-0 end-0 p-3" data-bs-autohide="false"></div>
        <!-- warning toast area end -->
        <!-- alert area start -->
        <div class="alert-dismiss position-fixed top-0 mt-2 start-0 end-0 d-flex"></div>
        <!-- alert area end -->
    </div>
    <!-- offset area start -->
    <div class="offset-area">
        <div class="offset-close"><i class="ti-close"></i></div>
        <div class="offset-content">
        </div>
    </div>
    <!-- offset area end -->
{% endblock %}

{% block script %}
    <script>
        let warningNumURL = "{% url 'detect:unhandled-warning' %}"
        let warningListenURL = "{% url 'detect:warning-listen' %}"
        let monitorInfoURL = "{% url 'monitor:info' 0 %}"
        let viewWarningURL = ""
    </script>
    <script src="{% static 'base-home/base-home.js' %}"></script>
{% endblock script %}