{% extends "base-template.html" %}

{% block style %}
    <link rel="stylesheet" href="{% static 'base-home/base-home.css' %}">
{% endblock %}

{% block content %}
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'assets/images/icon/logo.png' %}" alt="logo">
                    </a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="{% block overview %}{% endblock %}">
                                <a href="javascript:void(0)">
                                    <i class="ti-dashboard"></i><span>总览</span>
                                </a>
                            </li>
                            <li class="{% block monitor-manage %}{% endblock %}">
                                <a href="javascript:void(0)">
                                    <i class="ti-layout-media-right-alt"></i><span>监控管理</span>
                                </a>
                            </li>
                            <li class="{% block monitor-stream %}{% endblock %}">
                                <a href="javascript:void(0)">
                                    <i class="ti-layout-grid2"></i><span>实时监控</span>
                                </a>
                            </li>
                            <li class="{% block monitor-replay %}{% endblock %}">
                                <a href="javascript:void(0)">
                                    <i class="ti-control-backward"></i><span>录像回放</span>
                                </a>
                            </li>
                            <li {% block detect-statistics %}{% endblock %}>
                                <a href="javascript:void(0)">
                                    <i class="ti-pie-chart"></i><span>识别统计</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <div class="nav-btn pull-left">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <h4 class="page-title pull-left">
                                {% block page-title %}
                                    Dashboard
                                {% endblock %}
                            </h4>
                            {% block breadcrumbs %}
                                <ul class="breadcrumbs pull-left">
                                    <li><a href="#">Home</a></li>
                                    <li><span>button</span></li>
                                </ul>
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                    <span>2</span>
                                </i>
                                <div class="dropdown-menu bell-notify-box notify-box">
                                    <span class="notify-title">
                                        You have 3 new notifications <a href="#">view all</a>
                                    </span>
                                    <div class="nofity-list">
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                            <div class="notify-text">
                                                <p>You have Changed Your Password</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                            <div class="notify-text">
                                                <p>New Commetns On Post</p>
                                                <span>30 Seconds ago</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                            <div class="notify-text">
                                                <p>Some special like you</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                            <div class="notify-text">
                                                <p>New Commetns On Post</p>
                                                <span>30 Seconds ago</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                            <div class="notify-text">
                                                <p>Some special like you</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                            <div class="notify-text">
                                                <p>You have Changed Your Password</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                            <div class="notify-text">
                                                <p>You have Changed Your Password</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="settings-btn">
                                <i class="ti-settings"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <div class="main-content-inner">
                {% block main-content %}
                {% endblock %}
            </div>
        </div>
        <!-- warning toast area start -->
        <div class="toast-container show position-fixed bottom-0 end-0 p-3" data-bs-autohide="false"></div>
        <!-- warning toast area end -->
    </div>
{% endblock %}

{% block script %}
    <script>
        let warningListenURL = "{% url 'detect:warning-listen' %}"
        let monitorInfoULD = "{% url 'monitor:info' 0 %}"
    </script>
    <script src="{% static 'base-home/base-home.js' %}"></script>
{% endblock script %}