{% extends "base.html" %}

{% block style %}
    <link href="{% static "base_home/base_home.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="header border-bottom">
        <nav class="navbar wp" role="navigation">
            <a class="navbar-brand" href="#">
                安全帽佩戴检测软件
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item {% block overview %}{% endblock %}">
                    <a class="nav-link " href="#">总览</a>
                </li>
                <li class="nav-item {% block monitor-manage %}{% endblock %}">
                    <a class="nav-link " href="{% url "monitor:manage" %}">监控管理</a>
                </li>
                <li class="nav-item {% block monitor-stream %}{% endblock %}">
                    <a class="nav-link" href="#">实时监控</a>
                </li>
                <li class="nav-item {% block monitor-replay %}{% endblock %}">
                    <a class="nav-link" href="#">录像回放</a>
                </li>
                <li class="nav-item {% block detect-statistics %}{% endblock %}">
                    <a class="nav-link" href="#">识别统计</a>
                </li>
            </ul>
        </nav>
    </div>

    {% block page %}
    {% endblock %}
{% endblock %}