{% extends 'base-home.html' %}

{% block title %}
    <title>安全帽佩戴检测软件</title>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'overview/overview.css' %}">
{% endblock %}

{% block overview %}
    active
{% endblock %}

{% block page-title %}

{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block main-content %}

{% endblock %}

{% block script %}
    {{ block.super }}
    <script>

    </script>
    <script src="{% static 'overview/overview.js' %}"></script>
{% endblock %}